h1{
    color: olive;

}

    
button{
    background-color: lightgreen;
    font-size: medium;
    font-family:monospace;
    border-radius: 4px;
    border-color: chartreuse;
}
button:hover{
    background-color:green;
    font-size: large;
    }
button:active{
    background-color:yellow;
}

.nav{
    animation: move;
    


}
header{
    background-image: url('logo.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position:right;
    
}
#h1d{
    position:relative;
    
}
.homepage{
    background-color:

}
.footer{
    background-color:green;
}