h1{
    color: olive;

}
#btn{
    background-color: lightgreen;
    font-size: medium;
    font-family:monospace;
    border-radius: 4px;
    border-color: chartreuse;
}
#btn:hover{
    background-color:green;
    font-size: large;

}
#btn:active{
    background-color:yellow;
}
